body {
  display: flex;
  flex-direction: column;
  align-items: center;
  #centrar {
    background-color: crimson;
    max-width: 60rem;
    header {
      background-color: dimgray;
      margin-top: -1.3em;
      display: grid;
      grid-template-columns: 50% 50%;
      align-items: center;
      img{
        grid-column: 2;
      }
      h2,p{
        grid-column: 1;
      }
    }

    article {
      background-color: coral;
      margin-top: 2em;
      margin-bottom: 3em;
    }
  }
}
